.htaccess
node_modules
coverage
log
dist
.DS_Store
.idea/*
logs/
npm-debug.log

.tern-project
.sftprc

.vscode/*
!.vscode/*.code-snippets
!.vscode/page.schema.json

*.ignore*

.VSCodeCounter
index.html
